.idea/
.idea/*
.vscode/
.vscode/*
Output.xlsx
api
.DS_Store
tmp
logs
logs/*
Job.xlsx
exported.json
data/modelfiles
data/productconfig.json
config.json
api*
*.xlsx
agp.json
sap.json
data/olympic_winners.csv
data/olympic_winners.json
data/reports
data/bordereaux
dist/
main_bak.go
*.exe
*linux
go_build_main_go
*.log
api/logs
api/logs/*